@import "tailwindcss";

@font-face {
  font-family: 'InvincibleFont'; /* You can name this anything */
  src: url('./assets/Wood\ Block\ CG\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

header {
  backdrop-filter: blur(25px);
  border-radius: 16px;
  padding: 15px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: black;
  --color-accent: yellow;
}

.group li{
  width: 120px;
}

.group li:hover{
  width: 120px;
  backdrop-filter: blur(50px);
}

main {
  transform: translate(0, "-50%")
}

.articles:nth-child(2) {

  overflow: hidden;
}

.articles {
  overflow: hidden;
}

.liveParagraph {
  color: var(--color-accent);
  position: relative;
  display: flex;
}

.liveParagraph::after {
  content: ""; /* Use empty quotes for a solid dot */
  color: var(--color-accent);
  position: absolute;
  height: 10px; 
  width: 10px;
  display: block;
  border-radius: 50%;
  background-color: #f50000;
  left: 85px;

  /* Animation settings */
  animation-name: liveFade;
  animation-duration: 2s; /* <--- Sets the duration to 2 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

header nav {
  background-color: none;
}

@keyframes liveFade {
  0% {
    opacity: 0;
  } 
  50% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
  }
}



@media (min-width:1024px) {
    .sideBar {
    left: 50%;
    top: -6%;
    transform: translate(-50%, -50%);
}
  #highlights .articles {
    height: 100px;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
    width: 30%;
    justify-content: space-between;
    

  }
  #highlights {
    flex-wrap: wrap;
    flex-direction: row;
  }
    .sideBar:nth-child(1) {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    section .articles:nth-child(3) {
      height: 531.75px;
  
  }


}

@media (max-width:1024px) {
  #highlights .articles {
    height: 100px;
    background-color: transparent;
    display: flex;
        flex-direction: column-reverse;
    padding: 15px;
    width: 100%;
    justify-content: space-between;

  }
    #highlights {
    margin-top: 40px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}


#highlights {
  padding: 0%;
  justify-content: space-between;
}


#highlights .articles .briefArticle {
  display: none;
}


svg {
  color: var(--color-accent);
  fill: var(--color-accent);
  /* border: 1px solid var(--color-accent); */
  transition: 100ms;
  height: 30px;
  width: 30px;

}
.GameDisplayed .hoverEffektGame {
  opacity: 0;
  height: 0%;
  transition: 200ms;
}
.GameDisplayed:hover .hoverEffektGame {
  opacity: 1;
  height: 40%;
}

#spinner {
  color: var(--color-accent);
  fill: none;
  border: none;
  transition: 100ms;
  height: 50px;
  width: 50px;
}

.footerSection li:hover{
  text-decoration: underline;
}

.automaticCarouselDiv {
  position: relative;
  margin-bottom: 10%;
}

.automaticCarouselDiv div {
  width: 100%;
  height: 300px;
}

.ShadowDivText {

  position: absolute;
  bottom: 0;
  font-size: larger;
  padding-left: 150px;
}

.ShadowDivText h1 {
  font-size: 80px;
}


@keyframes delay {
  0% {

  } 100% {

  }
}

.automaticCarouselDiv .opacityShadowDiv {
  position: absolute;
  top: 0;
  height: 135%;
  z-index: 10;
  width: 100%;
  box-shadow: 105px 0px 150px 190px rgba(0,0,0,1) inset;
  /* -webkit-box-shadow: 165px 48px 216px 200px rgba(0,0,0,1) inset;
  -moz-box-shadow: 165px 48px 216px 200px rgba(0,0,0,1) inset; */
}


.carouselDiv img{
  border-radius:11px ;
}

.IconsSocial svg {
  border: none;
}

#spinner:hover {
  background-color: transparent;
}


svg:hover {
  background-color: var(--color-accent);
  fill: var(--color-primary);
  color: var(--color-primary);
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent);
}

.articles {
  border: 1px solid transparent;
  transition: 100ms;
}

.articles:hover {
  cursor: pointer;
  border: var(--color-accent) solid 1px;
}

.articles:hover img {
  opacity: 1;
}

.articles img {
  opacity: 0.88;

}

.articles:hover h1 {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
font-family: 'InvincibleFont', sans-serif;

}

form button:hover {
  background-color: var(--color-accent);
  color: black2
}

#loadingMsg {
  animation: FadeIn 3s;
}

#loadingMsg::after {
  content: "loading.";
  animation: loadingAnimation 1s infinite;
}

@keyframes FadeIn {
  0% { opacity: 0; }
  10% { opacity: 1; }
}

@keyframes loadingAnimation {
  0%   { content: "loading."; }
  25%  { content: "loading.."; }
  50%  { content: "loading..."; }
  75%  { content: "loading.."; }
  100% { content: "loading."; }
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: rgb(151, 151, 151);
  }
  a:hover {
    color: var(--color-accent);
  }
  button {
    background-color: var(--color-primary);
  }
}
